<a href="https://colab.research.google.com/github/MikeSalnikov/Numpy_by_python/blob/main/Lesson2_homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import numpy as np

(5, 2)

In [12]:
a = np.array([[1, 6], [2, 8], [3, 11], [3, 10], [1, 7]])
a

array([[ 1,  6],
       [ 2,  8],
       [ 3, 11],
       [ 3, 10],
       [ 1,  7]])

In [13]:
mean_a = a.mean(axis=0)
mean_a

array([2. , 8.4])

Задание 2

In [14]:
a_centered = a - mean_a
a_centered

array([[-1. , -2.4],
       [ 0. , -0.4],
       [ 1. ,  2.6],
       [ 1. ,  1.6],
       [-1. , -1.4]])

Задание 3

In [15]:
a_centered_sp = a_centered[:, 0] @ a_centered[:, 1]
a_centered_sp

8.0

In [16]:
test_cov = a_centered_sp / (a.shape[0] - 1)
test_cov

2.0

Задание 4*

In [17]:
cov = np.cov(a.T)[0, 1]
cov

2.0

Тема2 Задание 1

In [18]:
import pandas as pd

In [19]:
authors = pd.DataFrame({'author_id' : [1, 2, 3], 'author_name' : ['Тургенев', 'Чехов', 'Островский']})
authors

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [20]:
book = pd.DataFrame({'author_id' : [1, 1, 1, 2, 2, 3, 3], 
                     'book_title' : ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 
                                                 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
                     'price' : [450, 300, 350, 500, 450, 370, 290]})
book

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

Задание 2

In [21]:
authors_price = pd.merge(authors, book, on='author_id')
authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

Задание 3

In [22]:
top5 = authors_price.sort_values(by="price", ascending=False, inplace=False).head()
top5

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

**Задание 4**
Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price,
в которых должны содержаться соответственно имя автора, минимальная, максимальная и средняя цена на книги этого автора.

In [23]:
authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

In [24]:
authors_stat = pd.DataFrame({'author_name' : authors_price['author_name'].unique(),
                             'min_price' : authors_price.groupby('author_name', sort=False)['price'].min(),
                             'max_price' : authors_price.groupby('author_name', sort=False)['price'].max(),
                             'mean_price' : authors_price.groupby('author_name', sort=False)['price'].mean()})
authors_stat.style.hide_index()

Задание 5*

In [26]:
authors_price['cover'] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
authors_price

   author_id author_name            book_title  price    cover
0          1    Тургенев           Отцы и дети    450  твердая
1          1    Тургенев                 Рудин    300   мягкая
2          1    Тургенев     Дворянское гнездо    350   мягкая
3          2       Чехов      Толстый и тонкий    500  твердая
4          2       Чехов       Дама с собачкой    450  твердая
5          3  Островский                 Гроза    370   мягкая
6          3  Островский  Таланты и поклонники    290   мягкая

In [27]:
book_info = pd.pivot_table(authors_price, values='price', index=['author_name'], columns=['cover'], 
                           aggfunc=np.sum, fill_value=0)
book_info

cover        мягкая  твердая
author_name
Островский      660        0
Тургенев        650      450
Чехов             0      950

In [28]:
book_info.to_pickle('book_info.pkl')
book_info

cover        мягкая  твердая
author_name
Островский      660        0
Тургенев        650      450
Чехов             0      950

In [29]:
book_info2 = pd.read_pickle('book_info.pkl')
book_info2

cover        мягкая  твердая
author_name
Островский      660        0
Тургенев        650      450
Чехов             0      950